# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db
